<h1> Details </h1>
<table>
    <tr> <td> Product ID: </td> <td> <%= onerec.id %> </td> </tr>
    <tr> <td> Product Name: </td> <td> <%= onerec.user_id %> </td> </tr>
    <tr> <td> Type: </td> <td> <%= onerec.product_id %> </td> </tr>
    <tr> <td> Dimensions: </td> <td> <%= onerec.rating %> </td> </tr>
    <tr> <td> Comment: </td> <td> <%= onerec.comment %> </td> </tr>
    <tr> <td> Date: </td> <td> <%= onerec.review_date %> </td> </tr>
    <tr> <td> Privacy: </td> <td> <%= onerec.public %> </td> </tr>
</table>
