<h1> Edit User</h1>
<form action="/user/save" method="post">
    <input type="hidden" name="id" value="<%= onerec.id %>" >
    <table>
        <tr>
            <td> User Name: </td> <td> <input type="text" name="user_name" value="<%= onerec.user_name %>" required> </td> 
        </tr>

        <tr> 
            <td> Password: </td> <td> <input type="password" name="password" required> </td> 
        </tr>

        <tr> 
            <td> First Name: </td> <td> <input type="text" name="first_name" value="<%= onerec.first_name %>" required> </td> 
        </tr>

        <tr> 
            <td> Last Name: </td> <td> <input type="text" name="last_name" value="<%= onerec.last_name %>" required> </td> 
        </tr>

        <tr> 
            <td> Email: </td> <td> <input type="text" name="email" value="<%= onerec.email %>" required> </td> 
        </tr>

        <tr> 
            <td> Address 1: </td> <td> <input type="text" name="address_1" value="<%= onerec.address_1 %>"required> </td> 
        </tr>

        <tr> 
            <td> Address 2: </td> <td> <input type="text" name="address_2" value="<%= onerec.address_2 %>"> </td> 
        </tr>

        <tr> 
            <td> City: </td> <td> <input type="text" name="city" value="<%= onerec.city %>" required> </td> 
        </tr>

        <tr> 
            <td> State: </td> <td> <input type="text" name="state" value="<%= onerec.state %>" required> </td> 
        </tr>

        <tr> 
            <td> Zip: </td> <td> <input type="text" name="zip" value="<%= onerec.zip %>" required> </td> 
        </tr>
    </table>
    <button type="submit" class="default-button">Save</button>
</form>
