<h1> Details </h1>
<table>
    <tr> <td> Order ID: </td> <td> <%= onerec.id %> </td> </tr>
    <tr> <td> Invoice ID: </td> <td> <%= onerec.invoice_id %> </td> </tr>
    <tr> <td> Product ID: </td> <td> <%= onerec.product_id %> </td> </tr>
    <tr> <td> Promotion ID: </td> <td> <%= onerec.promotion_id %> </td> </tr>
    <tr> <td> Quantity: </td> <td> <%= onerec.quantity %> </td> </tr>
    <tr> <td> Total: </td> <td> <%= onerec.total %> </td> </tr>
</table>
