<h1> Edit Promotion</h1>
<form action="/promotion/save" method="post">
    <input type="hidden" name="id" value="<%= onerec.id %>" >
    <table>
        <tr> 
            <td> Percent Off: </td> <td> <input type="number" name="percent_off" value="<%= onerec.percent_off %>" required> </td> 
        </tr>

        <tr> 
            <td> Description: </td> 
            <td> <input type="text" name="description" value="<%= onerec.description %>" required> </td> 
        </tr>
        
        <tr> 
            <td> Title: </td> 
            <td> <input type="text" name="title" value="<%= onerec.title %>" required> </td> 
        </tr>

        <tr> 
            <td> Image: </td> 
            <td> <input type="text" name="image" value="<%= onerec.image %>" required> </td> 
        </tr>

        <tr> 
            <td> Start Date: </td> 
            <td> <input type="date" name="start_date" value="<%= onerec.start_date.toISOString().split('T')[0] %>" required> </td> 
        </tr>

        <tr> 
            <td> End Date: </td> 
            <td> <input type="date" name="end_date" value="<%= onerec.end_date.toISOString().split('T')[0] %>" required> </td> 
        </tr>
    </table>
    <button type="submit">Save</button>
</form>
