<h1> Details </h1>
<table>
    <tr> <td> Promotion ID: </td> <td> <%= onerec.id %> </td> </tr>
    <tr> <td> Percent Off: </td> <td> <%= onerec.percent_off %> </td> </tr>
    <tr> <td> Description: </td> <td> <%= onerec.description %> </td> </tr>
    <tr> <td> Title: </td> <td> <%= onerec.title %> </td> </tr>
    <tr> <td> Start Date: </td> <td> <%= onerec.start_date %> </td> </tr>
    <tr> <td> End Date: </td> <td> <%= onerec.end_date %> </td> </tr>
    <tr> <td> Image: </td> <td> <img src="/images/<%= onerec.image %>"> </td> </tr>
</table>
