<% if (allrecs.length > 0) {%>
    <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Price</th>
                <th>Dimensions</th>
                <th colspan="3">Actions</th>
            </tr>
        <% allrecs.forEach((recref, index) => { %>
            <tr>
                <td><%= recref.id %></td>
                <td><%= recref.product_name %></td>
                <td><%= recref.product_type %></td>
                <td><%= recref.price %></td>
                <td><%= recref.dimensions %></td>
                <td><a href='/product/<%= recref.id %>/show'>Details</a></td>
                <td><a href='/product/<%= recref.id %>/edit'>Edit</a></td>
                <td><a href='/product/<%= recref.id %>/delete'onclick="return confirm('Are you sure you want to delete this record?');">Delete</a></td>
            </tr>
        <% }); %>
    </table>
<% } else { %>
    <p>Not Records Available</p>
<% } %>
<p> <a href='/product/addrecord'>Add</a> </p>